body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ccffcc; 
}

header, footer {
    background-color: #88cc88; 
    color: black;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
}

h1, h2, h3 {
    color: black; 
}

main {
    text-align: center;
    padding: 20px;
}

img {
    display: block;
    margin: auto;
    width: 60%;
    max-width: 500px;
}

a {
    color: #0044aa;
    text-decoration: none;
    font-size: 1.2em;
}

a:hover {
    text-decoration: underline;
}